<div class="row">

	<div class="col-md-8">

	<div class="row">
		<div class="col-md-8">
		<h3>2007 Ford Escape</h3>
		<h4>Repaired on <%= @repair.created_at %> in 90230</h4>
		
		</div>

		<div class="col-md-4">
			<h3>Total Cost: $455.32</h3>
			<h4 class="text-danger">12% higher than average</h4>
		</div>
	</div>

		<div class="panel panel-default">
		<div class="panel-heading">
		  <div class="row">
		    <div class="col-md-8 col-xs-8">
		      <h3 class="panel-title">Tire Rotation</h3>
		    </div>
		    <div class="col-md-4 col-xs-4">
        		<span class="pull-right"><a href="">View Related</a></span>
      		</div>

		  </div>
		</div>

		<div class="panel-body">
		  <div class="row">
		    <div class="col-md-3">
		      <p>Service Cost</p>
		      <h4>$187.87</h4>
		    </div>
		    <div class="col-md-9">
		      <p>Compared to similar services in your area:</p>
		      <h4 class="text-success">23% Lower</h4>
		      <div>This service was a good deal. Similar repairs in the area go for $40 - $50 more</div>
		      <br>
		    </div>
		  </div>
		</div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <div class="row">
		      <div class="col-md-8 col-xs-8">
		        <h3 class="panel-title">New Radiator</h3>
		      </div>

		      <div class="col-md-4 col-xs-4">
        		<span class="pull-right"><a href="">View Related</a></span>
      		  </div>

		    </div>
		  </div>

		  <div class="panel-body">
		    <div class="row">
		      <div class="col-md-3">
		        <p>Service Cost</p>
		        <h4>$187.87</h4>
		      </div>
		      <div class="col-md-9">
		        <small>Compared to similar services in the area:</small>
		        <h4 class="text-danger">43% Higher</h4>
		        <div>This service was not a good deal. Similar repairs in the area go for $40 - $50 less.</div>
		        <br>
		      </div>
		    </div>
		  </div>
		</div>

	</div><!-- col md 8-->


	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Description:</strong>
	  <%= @repair.description %>
	</p>

	<%= link_to 'Edit', edit_repair_path(@repair) %> |
	<%= link_to 'Back', repairs_path %>

	</div>

</div>